<!-- chemistApi/templates/dashboard.html -->

{% block content %}
<div class="container mt-5">
    <h1>Admin Dashboard</h1>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header"><a class="nav-link" style="color: aliceblue;" href="{% url 'medicine_list'%}">Medicines</a></div>
                <div class="card-body">
                    <h5 class="card-title">{{ num_medicines }}</h5>
                    <p class="card-text">Total Medicines</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header"><a class="nav-link" style="color: aliceblue;" href="{% url 'order_list'%}">Orders</a></div>
                <div class="card-body">
                    <h5 class="card-title">{{ num_orders }}</h5>
                    <p class="card-text">Total Orders</p>
                </div>
            </div>
        </div>
               <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-header"><a class="nav-link" style="color: aliceblue;" href="{% url 'sale_list'%}">Sales</a></div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Total Sales</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
