{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1>Welcome to the Pharmacy Management System</h1>
    {% if user.is_authenticated %}

		{% include 'dashboard.html'%}
    {% else %}
        <p>Please log in or sign up to continue.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
            <a class="btn btn-secondary btn-lg" href="{% url 'signup' %}" role="button">Sign Up</a>
        </p>
    {% endif %}
</div>
{% endblock %}
